<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<script src="js/common/jquery.min.js"></script>
<script src="js/app/views/index.js"></script>
</head>
<body>
1111

<button class="btn btn-default js-click-post" type="button">Post</button>
<button class="btn btn-default js-click-put" type="button">Put</button>
<button class="btn btn-default js-click-delete" type="button">Delete</button>
<button class="btn btn-default js-click-get" type="button">Get</button>
</body>
</html>